@charset "UTF-8";
/* Body */
/* line 4, ../../sass/base.scss */
body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #1f2026;
  color: #f8f7f1;
}

/* line 12, ../../sass/base.scss */
e {
  color: #63995f;
  font-weight: bold;
}

/* Buttons */
/* line 18, ../../sass/base.scss */
input[type="button"] {
  cursor: pointer;
}
/* line 19, ../../sass/base.scss */
input[type="button"]:focus {
  outline: 0;
}

/* line 25, ../../sass/base.scss */
input[type="text"], input[type="password"] {
  border: 1px solid #1f2026;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 8px;
}
/* line 26, ../../sass/base.scss */
input[type="text"]:focus, input[type="password"]:focus {
  outline: 0;
  border-color: #f8f7f1;
  border: 1px solid #63995f;
}

/* line 36, ../../sass/base.scss */
.standard-button {
  border-radius: 5px;
  border: 1px solid #1f2026;
  color: #f8f7f1;
  background-color: #2f4349;
  padding: 5px;
  font-size: 14px;
}

/* line 45, ../../sass/base.scss */
.standard-button:hover {
  transition: .2s;
  background-color: #1f2026;
}

/* Header */
/* line 51, ../../sass/base.scss */
#header {
  padding: 5px;
  height: 50px;
  color: #f8f7f1;
  border-bottom: 1px solid #2f4349;
}

/* line 58, ../../sass/base.scss */
#header-bar {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 63, ../../sass/base.scss */
.header-inline {
  display: table-cell;
  vertical-align: middle;
}

/* line 68, ../../sass/base.scss */
.header-name {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 50%;
  vertical-align: middle;
  font-size: 30px;
  padding-left: 15px;
}

/* line 77, ../../sass/base.scss */
.header-action {
  cursor: pointer;
}

/* line 81, ../../sass/base.scss */
#logo-svg {
  height: 50px;
  fill: #63995f;
}

/* line 86, ../../sass/base.scss */
.header-left {
  float: left;
}

/* line 90, ../../sass/base.scss */
.header-right {
  float: right;
  padding-top: 12px;
}

/* line 95, ../../sass/base.scss */
#header-log-in:after {
  content: "•";
  margin: 0 5px 0 8px;
}

/* Content */
/* line 101, ../../sass/base.scss */
#content {
  background-color: #f8f7f1;
  color: #1f2026;
  padding: 15px;
}

/* Footer */
/* line 108, ../../sass/base.scss */
#footer {
  width: 100%;
  text-align: center;
}

/* Log In */
/* line 114, ../../sass/base.scss */
.login-or-signup-wrapper {
  padding: 10px;
  text-align: center;
  border: 1px solid #f8f7f1;
  max-width: 330px;
  margin: 0 auto;
}

/* line 122, ../../sass/base.scss */
.line-below {
  margin: 10px;
  border-bottom: 1px solid #f8f7f1;
}

/* line 127, ../../sass/base.scss */
.login-welcome {
  margin: 2px 0 7px;
}

/* line 131, ../../sass/base.scss */
#signup-info {
  text-align: center;
}

/* line 135, ../../sass/base.scss */
.signup-field {
  display: block;
  margin: 5px auto;
}
