@charset "UTF-8";
/* Body */
body {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #1f2026;
  color: #f8f7f1;
}

e {
  color: #63995f;
  font-weight: bold;
}

/* Buttons */
input[type="button"] {
  cursor: pointer;
}
input[type="button"]:focus {
  outline: 0;
}

input[type="text"], input[type="password"] {
  font-size: 12px;
  border: 1px solid #1f2026;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 8px;
}
input[type="text"]:focus, input[type="password"]:focus {
  outline: 0;
  border-color: #f8f7f1;
  border: 1px solid #63995f;
}

.standard-button {
  border-radius: 5px;
  border: 1px solid #1f2026;
  color: #f8f7f1;
  background-color: #2f4349;
  padding: 5px;
  font-size: 14px;
}

.standard-button:hover {
  transition: .2s;
  background-color: #1f2026;
}

/* Header */
#header {
  padding: 5px 20px;
  height: 50px;
  color: #f8f7f1;
  border-bottom: 1px solid #2f4349;
}

#header-bar {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.header-inline {
  display: table-cell;
  vertical-align: middle;
  padding-top: 12px;
  background-color: #1f2026;
}

.header-name {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 50%;
  vertical-align: middle;
  font-size: 30px;
  padding-left: 8px;
}

.header-action {
  cursor: pointer;
}

#logo-svg {
  height: 50px;
  fill: #63995f;
}

.header-left {
  margin-top: -12px;
  position: absolute;
  left: 20px;
}

.header-right {
  position: absolute;
  right: 20px;
}

.header-log-in:after {
  content: "•";
  margin: 0 5px 0 8px;
}

.debatum-logo {
  display: table-cell;
  width: 50px;
}

/* Links */
.link-no-style {
  color: inherit;
  text-decoration: none;
}

/* Content */
#content {
  background-color: #f8f7f1;
  color: #1f2026;
  padding: 15px;
}

/* Footer */
#footer {
  width: 100%;
  text-align: center;
}

/* Log In */
.login-or-signup-wrapper {
  display: none;
  background-color: #2f4349;
  display: none;
  padding: 10px;
  text-align: center;
  border: 1px solid #f8f7f1;
  max-width: 330px;
  margin: 0 auto;
}

#signup-info {
  text-align: center;
}

.login-header {
  margin-top: -4px;
  display: none;
}

.close-login {
  padding: 3px;
}
.close-login:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .header-left, .header-right {
    display: block;
  }

  .login-header {
    padding: 5px;
  }

  .close-login {
    position: absolute;
    right: 10px;
  }

  .login-form {
    text-align: center;
  }

  .signup-field, .login-field {
    display: block;
  }

  .signup-form {
    margin: -10px 0 0 -20px;
    background-color: #1f2026;
    text-align: center;
  }
}
@media (max-width: 320px) {
  #header {
    height: auto;
  }

  .header-left, .header-right {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
  }

  .header-inline {
    margin-top: 5px;
    display: inline-block;
  }
}
