/* Welcome */
.welcome-wrapper {
  font-size: 18px;
  text-align: center;
}

.welcome-description {
  font-size: 25px;
}

.big-welcome {
  font-size: 45px;
  font-weight: bold;
}

.welcome-buttons {
  padding: 15px;
}
