/* Welcome */
.home-section-wrapper {
  font-size: 18px;
  text-align: center;
}

.welcome-description {
  font-size: 25px;
}

.welcome-buttons {
  padding: 15px;
}

.section-title {
  font-size: 45px;
  font-weight: bold;
}

/* Submitting New Topic */
.action-section, .action-step {
  display: none;
}

.active-step {
  display: block;
}

#home-categories {
  width: 500px;
  margin: 0 auto;
}

.topic-submit-data {
  display: block;
  width: 100%;
}

.topic-submit-text {
  padding: 8px;
}

@media (max-width: 700px) {
  .welcome-buttons > * {
    display: block;
    margin: 0 auto;
  }
}
