$baseGreen: #63995F;
$baseLightGreen: #C1D5A7;
$baseDarkGreen: #8A957A;

$baseWhite: #F8F7F1;
$baseBlack: #1F2026;

$baseGrey: #545858;
$baseLightGrey: #9A9C9E;

$baseDarkBlue: #2F4349;

$baseFont: 'Open Sans Condensed';