{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Default Title{% endblock %}</title>

	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>

	<!-- Meta Tags -->
	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Debatum is a conversation forum that allows users to debate, cite, and critique each other's arguments." />
	<meta name="keywords" content="debatum, debate, debate me" />
	<meta name="Robots" content="INDEX,FOLLOW">
	<meta charset="utf-8">

	<!-- Core CSS files -->
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<!-- Include page specific css -->
	{% for file in css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}stylesheets/{{ file }}.css" />
	{% endfor %}

	<!-- jQuery obvs -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

	<script src="{{ STATIC_PREFIX }}js/core.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery-addons.js"></script>
	{% for file in js %}
	<script src="{{ STATIC_PREFIX }}js/{{ file }}.js"></script>
	{% endfor %}
</head>

<body>
	<div id="header">
		<div id="header-bar">
			<div class="header-left">
				<a class="link-no-style" href="/">
					<span id="header-logo" class="header-inline">
						<img class="debatum-logo" src="/static/images/debatumlogo.png" />
					</span>
					<span class="header-name header-inline">Debatum</span>
				</a>
			</div>
			<div class="header-right">
				<span class="header-inline">
					<span class="header-action header-log-in">Log In</span>
					<div class="login-header login-form">
						<input size="30" id="login-email" class="login-field login-active" type="text" placeholder="Email" />
						<input size="30" id="login-pass"  class="login-field" type="password" placeholder="Password" />
						<input id="login-go" type="button" class="standard-button" value="Log In!" />
						<span class="close-login">x</span>
					</div>
				</span>
				<span class="header-inline">
					<span class="header-action header-sign-up">Sign Up</span>
					<div class="login-header signup-form">
						<input size="30" id="signup-email" class="signup-field login-active" type="text" placeholder="Email" />
						<input size="30" id="signup-pass" class="signup-field" type="password" placeholder="Password" />
						<input size="30" id="signup-pass-confirm" class="signup-field" type="password" placeholder="Confirm Password" />
						<input id="signup-go" type="button" class="standard-button" value="Sign up!" />
						<span class="close-login">x</span>
					</div>
				</span>
			</div>
		</div>
	</div>

	<div id="content">{% block content %}{% endblock %}</div>

	<div id="footer">
		&copy; {% now "Y" %}
	</div>
</body>
</html>