<!-- Begin view info -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %} The Homepage {% endblock %}
<!-- End view info -->


<!-- Begin homepage content -->
{% block content %}
<div class="welcome-wrapper">
	<div class="welcome">
		<span class="big-welcome">Welcome to <e>Debatum</e></span>
		<div class="welcome-description">
			We are a <e>conversation</e> forum that allows users to <e>debate</e>, <e>cite</e>, and <e>critique</e> each others' arguments.
		</div>
	</div>
	<div class="welcome-buttons">
		<input type="button" id="begin-convo" class="standard-button" value="Begin A Conversation" />
		OR
		<input type="button" id="begin-convo" class="standard-button" value="Search For A Conversation" />
	</div>
</div>

{% endblock %}
<!-- End homepage content -->